.main {
    display: flex;
    flex-direction: row;
}

.header {
    width: 528px;
    height: 765px;

    margin-left: 12rem;
    margin-top: 5.7rem;

    h1,
    h2 {
        color: #E2E8F0;
    }

    h2 {
        padding-top: 12px;
    }

    p {
        padding-top: 16px;
    }
}

.header_menu {
    display: flex;
    flex-direction: column;

    margin-top: 5rem;

    button {
        width: 100px;
        height: 30px;

        background: none;
        border: none;
        cursor: pointer;

        font-family: 'IBM Plex Sans';
        font-size: medium;
        color: #64748B;
        text-align: left;

        margin-top: 1rem;

        transition: .1s;
    }

    button:hover {
        background: none;

        color: #ffffff;

        font-size: large;

    }
}

.header_socialMedia {
    margin-top: 10rem;

    a {
        color: #64748B;

        margin-top: 1rem;
        margin-right: 1rem;

        transition: .1s;
    }

    a:hover {
        color: #ffffff;
    }
}

.right-side {
    width: 528px;
    height: 100%;

    margin-right: 12rem;
    margin-top: 5.7rem;
}

@media screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .header {
        width: 528px;
        height: auto;

        margin-left: 1rem;
        margin-top: 3rem;
    }

    .header_menu {
        // display: flex;
        // flex-direction: column;

        margin-top: 2rem;
    }

    .header_socialMedia {
        margin-top: 3rem;
     
    }

    .right-side {
        width: 528px;
        height: 100%;
    
        margin-left: 1rem;
        margin-top: 3rem;
    }

}