.box{
    width: 576px;
    height: 154px;

    border-radius: 5px;

    display: flex;
    flex-direction: row;

    transition: .3s;
}

.box:hover{
    background: #0c1f4a;
}

.box-img{
    background: #cda2a2;

    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    width: 120px;
    height: 68.9px;
}

.box-text{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    margin-top: 1rem;
    margin-right: 1rem;

    h3{
        color: #d7dce5;
    }
}

.box-techs{
    display: flex;
    gap: 10px;
}

.boxbox{
    width: auto;
    height: 28px;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #122B39;

    color: #5EE9D3;
}

@media screen and (max-width: 641px) {

    .box{
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
    }

    .box-img{
        background: #cda2a2;
    
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    
        width: 120px;
        height: 68.9px;
    }

}
